<footer>

  <div class="footer__banner-quote">
    <h3 class="footer__banner-quote-text" data-aos="fade"><span>"Classé dans</span>&nbsp;les 10 lieux de rêve&nbsp;<span>pour se marier dans la région de Lyon"</span></h3>
  </div>

  <div class="footer__vertical-blocks">
    <div class="footer__block">
      <img class="footer__logo" alt="Domaine le Clos des Liesses" src="{{ site.baseurl}}/assets/images/00_CDL_Footer_logo.png"/>
      <p class="footer__text">Situé à 25 minutes de Lyon, au coeur du Beaujolais des Pierres Dorées dans le village d'Alix, le Domaine du Clos des Liesses vous offre toutes les prestations attendues pour votre réception.</p>
      <p class="footer__text">Vous recherchez une salle de réception dans le 69, vous souhaitez organiser un mariage dans le Rhône, un cocktail ou un dîner pour vos clients ou collaborateurs, nous vous accueillerons chaleureusement pour gérer au mieux l'organisation de votre événement, de la conception au jour J.</p>
      <button class="footer__button">contactez-nous</button>
    </div>

    <div class="footer__block">
      <div class="footer__image">
        <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/00_CDL_Footer_image.jpg" alt="Cheval du Domaine Clos des Liesses" data-aos="fade">
      </div>
      <p class="footer__text-reco footer__text-reco--margin-top">Ils nous recommandent</p>
      <div class="footer__reco-container" data-aos="fade-right">
        <img class="footer__reco" src="{{ site.baseurl}}/assets/images/00_CDL_Footer_label_1.png" alt="Meilleur lieu de mariage dans le Rhône">
        <img class="footer__reco" src="{{ site.baseurl}}/assets/images/00_CDL_Footer_label_2.png" alt="Meilleur domaine de réception 69">
        <img class="footer__reco" src="{{ site.baseurl}}/assets/images/00_CDL_Footer_label_3.png" alt="Mariage champêtre à Lyon">
      </div>
    </div>

    <div class="footer__block">
      <p class="footer__text-reco">Ils vous parlent du domaine</p>
      <!-- Widget -->
      <script src="https://cdn1.mariages.net/js/wp-widget.js?nossl-sf-sui-20191107-03FR46-1_www_m_"></script>
      <div id="wp-widget-reviews" style="background: #fff">
        <div id="wp-widget-preview">
          Lire <a href="https://www.mariages.net/domaine-mariage/clos-des-liesses--e71772/avis">nos avis</a> à &nbsp;
          <a href='https://www.mariages.net'>
            <img src="https://cdn1.mariages.net/assets/img/logos/gen_logoHeader.svg" height="20">
          </a>
        </div>
      </div>
      <script>wpShowReviews(71772, "red");</script>
      <!-- End widget -->
    </div>
  </div>

  <div class="footer__horizontal-block">
    <p class="footer__legal-mentions">©2018 - Mentions Légales</p>
    <div class="footer__social-icons">
      <a href="https://www.instagram.com/closdesliesses/" target="_blank" rel="noopener">
        <img class="footer__social-icon" src="{{ site.baseurl}}/assets/images/icons/icon-instagram.png" alt="Instagram">
      </a>
      <a href="https://www.google.fr/search?q=domaine+du+clos+des+liesses&oq=domaine+du+clo&aqs=chrome.1.69i57j0l5.6854j0j8&sourceid=chrome&ie=UTF-8" target="_blank" rel="noopener">
        <img class="footer__social-icon" src="{{ site.baseurl}}/assets/images/icons/icon-google.png" alt="Google">
      </a>
      <a href="https://www.facebook.com/closdesliesses.reception/" target="_blank" rel="noopener">
        <img class="footer__social-icon" src="{{ site.baseurl}}/assets/images/icons/icon-facebook.png" alt="Facebook">
      </a>
    </div>
    <p class="footer__address">Domaine du Clos des Liesses<br>382 Chemin du Clos des Liesses - 69380 ALIX</p>
  </div>

</footer>
