<footer>
  <a class="footer-link footer-mail" href="mailto:europeauto83@free.fr">
    <i class="fa fa-envelope"></i>
    <p>europeauto83@free.fr</p>
  </a>
  <div class="footer-link footer-phone">
    <i class="fa fa-phone"></i>
    <p>04.94.87.85.12</p>
  </div>
  <a class="footer-link footer-map" href="https://www.google.com/maps/place/Europe+Auto+Carrosserie/@43.1091391,5.8422424,17z/data=!4m13!1m7!3m6!1s0x12c90470c1cbddff:0x8f1b7d61bbc36d93!2s2799+Avenue+Pr%C3%A9sident+John+Kennedy,+83140+Six-Fours-les-Plages!3b1!8m2!3d43.1091352!4d5.8444311!3m4!1s0x12c90470cee534b1:0xb6d9e601b6d310ed!8m2!3d43.108423!4d5.844162" target="_blank">
    <i class="fa fa-map"></i>
    <p>2799 Avenue Prés. John Kennedy<br>83140 Six-Fours-les-Plages</p>
  </a>

  <div id="signature">Copyright © 2018&nbsp;<a href="http://tiffany-vachez.com/">&nbsp;Tiffany Vachez</a></div>
</footer>
