<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/img/favicon.ico" />

  <!-- Stylesheets -->
  <link href="{{ site.baseurl }}/assets/stylesheets/application.css?v=0" rel="stylesheet" type='text/css'>
  <link href="{{ site.baseurl }}/assets/stylesheets/swiper.min.css" rel="stylesheet" type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,300i,400,400i,500,500i,600,600i,700,700i,800,900" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/7729d5c7ef.js"></script>
</head>
