<head>
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="cache-control" content="max-age=86400" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/img/favicon.ico" />

  <meta property="og:title" content="{{ page.ogTitle }}" />
  <meta property="og:description" content="{{ page.ogDescription }}">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:image" content="{{ page.ogImg }}" />

  <!-- Stylesheets -->
  <!-- <link href="{{ site.baseurl }}/assets/stylesheets/application.css?v=0.1" rel="stylesheet" type='text/css'> -->
  <!-- <link href="https://unpkg.com/aos/dist/aos.css" rel="stylesheet">
  <link href="https://unpkg.com/js-datepicker/datepicker.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/stylesheets/swiper.min.css" rel="stylesheet" type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,700" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="" crossorigin="anonymous">
  <link href="{{ site.baseurl }}/assets/stylesheets/FreightText.css" rel="stylesheet" type="text/css"> -->
</head>
