<nav id="desktop-nav">
  <a href="{{ site.baseurl }}/">
    <img id="desktop-nav__logo" alt="domaine le clos des liesses" src="{{ site.baseurl}}/assets/images/00_CDL_Header_logo_blanc.png"/>
  </a>
  <ul id="desktop-nav__menu">
    <li class="desktop-nav__item">
      <a href="{{ site.baseurl }}/domaine/">Le Domaine</a>
    </li>
    <li class="desktop-nav__item">
      <a href="{{ site.baseurl }}/evenement-prive/">Mariage</a>
    </li>
    <li class="desktop-nav__item">
      <a href="{{ site.baseurl }}/evenement-professionnel/">Événement professionnel</a>
    </li>
    <li class="desktop-nav__item">
      <a href="{{ site.baseurl }}/galerie/">Galerie</a>
    </li>
    <li class="desktop-nav__item desktop-nav__item--contact">
      <a href="{{ site.baseurl }}/contact/">Contactez-nous</a>
    </li>
  </ul>
</nav>

<nav id="phone-nav">
  <a href="{{ site.baseurl }}/">
    <img id="phone-nav__logo" alt="reception le clos des liesses" src="{{ site.baseurl}}/assets/images/00_CDL_Header_logo_blanc.png"/>
  </a>
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <li class="menu__item">
        <a href="{{ site.baseurl }}/domaine/">Le Domaine</a>
      </li>
      <li class="menu__item">
        <a href="{{ site.baseurl }}/evenement-prive/">Mariage</a>
      </li>
      <li class="menu__item">
        <a href="{{ site.baseurl }}/evenement-professionnel/">Événement professionnel</a>
      </li>
      <li class="menu__item">
        <a href="{{ site.baseurl }}/galerie/">Galerie</a>
      </li>
      <li class="menu__item menu__item--contact">
        <a href="{{ site.baseurl }}/contact/">Contactez-nous</a>
      </li>
    </ul>
  </div>
</nav>
