<nav id="desktop-nav">
  <img id="desktop-nav__logo" alt="reception le clos des liesses" src="{{ site.baseurl}}/assets/images/00_CDL_Header_logo_blanc.png"/>
  <ul id="desktop-nav__menu">
    <a class="desktop-nav__item" href="{{ site.baseurl }}/domaine"><li>Le Domaine</li></a>
    <a class="desktop-nav__item" href="{{ site.baseurl }}/evenement-prive"><li>Événement privé</li></a>
    <a class="desktop-nav__item" href="{{ site.baseurl }}/evenement-professionnel"><li>Événement professionnel</li></a>
    <a class="desktop-nav__item" href="{{ site.baseurl }}/galerie"><li>Galerie</li></a>
    <a class="desktop-nav__item desktop-nav__item--contact" href="{{ site.baseurl }}/contact"><li>Contactez-nous</li></a>
  </ul>
</nav>

<nav id="phone-nav">
  <img id="phone-nav__logo" alt="reception le clos des liesses" src="{{ site.baseurl}}/assets/images/00_CDL_Header_logo_blanc.png"/>
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <a class="menu__item" href="{{ site.baseurl }}/"><li>Le Domaine</li></a>
      <a class="menu__item" href="{{ site.baseurl }}/evenement-prive"><li>Événement privé</li></a>
      <a class="menu__item" href="{{ site.baseurl }}/evenement-professionnel"><li>Événement professionnel</li></a>
      <a class="menu__item" href="{{ site.baseurl }}/galerie"><li>Galerie</li></a>
      <a class="menu__item menu__item--contact" href="{{ site.baseurl }}/contact"><li>Contactez-nous</li></a>
    </ul>
  </div>
</nav>
