<nav id="desktop-nav">
  <img id="desktop-nav__logo" alt="reception le clos des liesses" src="{{ site.baseurl}}/assets/images/00_CDL_Header_logo_blanc.png"/>
  <ul id="desktop-nav__menu">
    <a class="desktop-nav__item" href="{{ site.baseurl }}/"><li>Le Domaine</li></a>
    <a class="desktop-nav__item" href="{{ site.baseurl }}/evenement-prive"><li>Événement privé</li></a>
    <a class="desktop-nav__item" href="{{ site.baseurl }}/evenement-prodessionel"><li>Événement professionel</li></a>
    <a class="desktop-nav__item" href="{{ site.baseurl }}/galerie"><li>Galerie</li></a>
    <a class="desktop-nav__item desktop-nav__item--contact" href="{{ site.baseurl }}/contact"><li>Contactez-nous</li></a>
  </ul>
</nav>

<!-- <nav id="desktop-nav">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <a href="{{ site.baseurl }}/"><li>Accueil</li></a>
      <a href="{{ site.baseurl }}/presentation"><li>Présentation</li></a>
      <a href="{{ site.baseurl }}/services"><li>Services</li></a>
      <a href="{{ site.baseurl }}/galerie"><li>Galerie</li></a>
      <a href="{{ site.baseurl }}/contact"><li>Contact</li></a>
    </ul>
  </div>
</nav> -->
