<div class="scroll-indicator-bullets">
  <div class="scroll-indicator-bullets__link"></div>
  <a class="js-scrollTo" href="#domain-block-1">
    <div class="scroll-indicator-bullets__bullet bullet-domain-1"></div>
  </a>
  <a class="js-scrollTo" href="#domain-block-2">
    <div class="scroll-indicator-bullets__bullet bullet-domain-2"></div>
  </a>
  <a class="js-scrollTo" href="#domain-block-3">
    <div class="scroll-indicator-bullets__bullet bullet-domain-3"></div>
  </a>
  <a class="js-scrollTo" href="#domain-block-4">
    <div class="scroll-indicator-bullets__bullet bullet-domain-4"></div>
  </a>
  <a class="js-scrollTo" href="#domain-block-5">
    <div class="scroll-indicator-bullets__bullet bullet-domain-5"></div>
  </a>
  <a class="js-scrollTo" href="#domain-block-6">
    <div class="scroll-indicator-bullets__bullet bullet-domain-6"></div>
  </a>
  <a class="js-scrollTo" href="#domain-block-7">
    <div class="scroll-indicator-bullets__bullet bullet-domain-7"></div>
  </a>
  <a class="js-scrollTo" href="#domain-block-8">
    <div class="scroll-indicator-bullets__bullet bullet-domain-8"></div>
  </a>
</div>
