/**
 * Reset some basic elements
 */
html, body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  color: #404040;
  font-family: 'Nunito', sans-serif;
  min-height: 100%; }

a,
a:active,
a:hover,
a:link a:visited {
  color: #404040;
  text-decoration: none; }

input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 1px solid #ccc; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.centered-content {
  left: 50%;
  position: absolute; }

.centered-crop-image {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%; }

.button-bordered, .homepage__block__button {
  background-color: #EED59A;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 15px 20px;
  text-transform: uppercase;
  -webkit-transition: background-color .5s;
  transition: background-color .5s; }
  .button-bordered:hover, .homepage__block__button:hover {
    background-color: #B29689; }

.blur {
  -webkit-filter: blur(5px);
          filter: blur(5px); }

#homepage {
  position: relative; }
  #homepage .centered-crop-image {
    width: 100%; }

.homepage__background-intro {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/bg-home-intro.jpg") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  position: relative; }

.homepage__text-intro {
  bottom: 15%;
  color: white;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  position: absolute;
  right: 6%;
  font-family: 'Freight Text Pro Medium'; }
  .homepage__text-intro span {
    font-family: 'Freight Text Pro Medium Italic';
    letter-spacing: 0; }

.homepage__arrow-intro {
  bottom: 5%;
  height: 45px;
  position: absolute;
  right: 6%;
  width: auto; }

.homepage__block {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }

.homepage__block--1 {
  padding-bottom: 150px; }
  .homepage__block--1 .homepage__block__text:first-child {
    margin-right: 70px; }

.homepage__block--2 {
  background-color: #FDFAEA;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .homepage__block--2 .homepage__block__content {
    margin-right: calc(50% + 100px); }
  .homepage__block--2 .homepage__block__text,
  .homepage__block--2 .homepage__block__title {
    text-align: right; }

.homepage__block--3 {
  padding-bottom: 200px; }
  .homepage__block--3 .homepage__block__content {
    margin-left: calc(50% + 100px);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .homepage__block--3 .homepage__block__text,
  .homepage__block--3 .homepage__block__title {
    text-align: left; }
  .homepage__block--3 .homepage__block__image {
    height: 570px;
    top: 100px;
    right: 50%;
    left: auto; }

.homepage__block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%; }

.homepage__block__number {
  font-weight: bold;
  letter-spacing: 2px; }

.homepage__block__dash {
  height: 30px;
  width: 1px;
  background-color: #eaeaea;
  margin: 15px 0; }

.homepage__block__title {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 45px;
  font-family: 'Freight Text Pro Medium'; }
  .homepage__block__title span {
    font-family: 'Freight Text Pro Medium Italic';
    letter-spacing: 0; }

.homepage__block__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 70px 0 50px 0; }

.homepage__block__text {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 16px; }

.homepage__block__image {
  width: 50%;
  overflow: hidden;
  height: 594px;
  position: absolute;
  top: -50px;
  left: 50%; }

.homepage__banner-quote {
  background-color: #51504C;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.homepage__banner-quote-text {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 30px;
  font-family: 'Freight Text Pro Medium';
  letter-spacing: 1px; }
  .homepage__banner-quote-text span {
    font-family: 'Freight Text Pro Medium Italic';
    letter-spacing: 0; }

#desktop-nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 10;
  -webkit-transition: all .5s;
  transition: all .5s; }
  #desktop-nav.fixed {
    position: fixed;
    background-color: white;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.5);
    padding: 35px 80px 20px 80px; }
    #desktop-nav.fixed img {
      -webkit-filter: invert(100%);
              filter: invert(100%); }
    #desktop-nav.fixed li {
      color: #404040; }
    #desktop-nav.fixed .desktop-nav__item.desktop-nav__item--contact {
      border: 2px solid #404040; }
  @media screen and (max-width: 768px) {
    #desktop-nav {
      display: none; } }

#desktop-nav__logo {
  height: 40px;
  width: auto;
  margin-top: -22px; }

#desktop-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.desktop-nav__item {
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .desktop-nav__item:last-child {
    margin-right: 0; }
  .desktop-nav__item.desktop-nav__item--contact {
    border: 2px solid white;
    padding: 12px 15px; }
  .desktop-nav__item li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px; }

nav#phone-nav {
  display: none;
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  z-index: 30;
  padding: 30px;
  -webkit-transition: all .5s;
  transition: all .5s; }
  nav#phone-nav.fixed {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 768px) {
    nav#phone-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

#menuToggle {
  display: block;
  position: relative;
  top: 8px;
  right: 0px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  width: 35px;
  margin-left: auto; }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    right: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
    -webkit-touch-callout: none; }
    #menuToggle input::after {
      content: "MENU";
      top: 100%;
      position: absolute; }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
    #menuToggle span:first-child {
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%; }
    #menuToggle span:nth-last-child(2) {
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%; }
  #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
    background: #404040; }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2); }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px); }
  #menuToggle input:checked ~ ul {
    -webkit-transform: none;
            transform: none; }

#menu {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  padding: 115px 40px 20px 50px;
  background: rgba(255, 255, 255, 0.5);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
  text-align: right; }
  #menu li {
    margin: 15px 0;
    padding-left: 10px;
    font-size: 16px;
    text-transform: uppercase; }
    #menu li:focus, #menu li:active {
      background: transparent; }

#phone-nav__logo {
  height: 30px; }

.menu__item--contact {
  margin-top: 30px;
  border: 2px solid #404040;
  padding: 8px 12px;
  display: inline-block; }
  .menu__item--contact li {
    font-size: 12px !important;
    padding: 0 !important;
    margin: 0 !important; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #484743;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  footer .centered-crop-image {
    height: 100%; }

.footer__vertical-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 100px 20px; }

.footer__block {
  width: 33.33%;
  padding: 0 60px; }
  .footer__block:first-child {
    padding-right: 40px; }
  .footer__block:nth-child(2) {
    padding-left: 20px; }
  .footer__block:last-child {
    border-left: 1px solid rgba(255, 255, 255, 0.2); }

.footer__text {
  color: white;
  line-height: 2.2;
  margin-top: 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 12.5px;
  letter-spacing: 2px;
  font-weight: 100; }

.footer__logo {
  width: 300px;
  height: auto;
  margin-bottom: 30px; }

.footer__image {
  width: 100%;
  height: 427px;
  position: relative;
  overflow: hidden; }

.footer__text-reco {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-family: 'Freight Text Pro Medium Italic';
  font-size: 22px;
  margin-bottom: 30px; }
  .footer__text-reco.footer__text-reco--margin-top {
    margin-top: 30px; }

.footer__reco-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__reco {
  height: 100px;
  width: auto;
  margin-right: 30px; }

.footer__button {
  text-transform: uppercase;
  padding: 15px 20px;
  color: white;
  letter-spacing: 2px;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  border: 3px solid white;
  margin-top: 90px; }
  .footer__button:hover {
    cursor: pointer; }

.footer__horizontal-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 140px);
  padding: 30px 0;
  margin: 0 70px;
  border-top: 1px solid rgba(255, 255, 255, 0.2); }

.footer__legal-mentions,
.footer__address,
.footer__social-icons {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0; }

.footer__legal-mentions,
.footer__address {
  color: rgba(255, 255, 255, 0.5);
  line-height: 2;
  font-family: 'Nunito', sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 400; }

.footer__address {
  text-align: right; }

.footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer__social-icon {
  width: 45px;
  height: 45px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin: 0 5px; }

#signature {
  color: #a6a6a6;
  position: absolute;
  bottom: 0;
  right: 2px;
  font-family: 'Lato', sans-serif;
  font-size: 11px; }
  #signature a {
    color: #ff8900; }

#bodasnet-widget-content ul {
  max-height: 355px;
  overflow: scroll; }
