<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}

    <div id="contact">
      <h1 class="contact__title">Contact</h1>

      <div class="contact__tabs">
        <div class="contact__tab">
          <h2 class="contact__tab__title">Votre évènement privé</h2>
          <button class="contact__tab__button">Formulaire de contact</button>
        </div>
        <div class="contact__tab">
          <h2 class="contact__tab__title">Votre évènement professionnel</h2>
          <button class="contact__tab__button">Formulaire de contact</button>
        </div>
      </div>

      <div class="contact__text-container">
        <p class="contact__text-block">
          Pour toute question ou renseignement, n’hésitez pas à contacter Sandie<br>
          <span>(T) 06 62 39 46 74</span><br>
          <span>(M) contact@closdesliesses-reception.fr</span>
        </p>
        <p class="contact__text-block">
          Domaine du Clos des Liesses<br>
          382 Chemin du Clos des Liesses - 69380 ALIX
        </p>
      </div>

      <!-- MAP -->
      <div class="contact__map">
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe width="100%" height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=382%20Chemin%20du%20Clos%20des%20Liesses%20-%2069380%20ALIX&t=&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <a href="https://www.crocothemes.net"></a>
          </div>
          <style>.mapouter{text-align:right;height:600px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:600px;width:100%;}</style>
        </div>
      </div>

    </div>

    {% include footer.html %}

    {% include script.html %}

    <script src="{{ site.baseurl }}/assets/js/contact.js?v=0" type="text/javascript"></script>

  </body>

</html>