<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body>

    {% include loader.html %}

    {% include nav.html %}

    <div id="contact">
      <h1 class="contact__title">Contact</h1>

      <div class="contact__tabs">
        <div class="contact__tab contact__tab--private">
          <h2 class="contact__tab__title">Votre évènement privé</h2>
          <button class="contact__tab__button">Formulaire de contact</button>
          <p class="contact__tab__description">Pour obtenir plus d’informations sur le domaine<br>
            nous vous invitons à compléter ce formulaire :</p>
        </div>
        <div class="contact__tab contact__tab--pro">
          <h2 class="contact__tab__title">Votre évènement professionnel</h2>
          <button class="contact__tab__button">Formulaire de contact</button>
          <p class="contact__tab__description">Pour obtenir un devis personnalisé,<br>
            nous vous invitons à compléter ce formulaire :</p>
        </div>
      </div>

      <!-- mobile -->
      <div class="contact__tab contact__tab--private mobile">
        <h2 class="contact__tab__title">Votre évènement privé</h2>
        <button class="contact__tab__button">Formulaire de contact</button>
        <p class="contact__tab__description">Pour obtenir plus d’informations sur le domaine<br>
          nous vous invitons à compléter ce formulaire :</p>
      </div>
      <!-- end mobile -->

      <!-- Private form -->
      <div class="contact__form-container" id="contact__private-block">
        <form class="contact-form" method="POST" action="https://formspree.io/contact@closdesliesses-reception.fr">

          <div class="contact-form__category">
            <h3 class="contact-form__title">Type d'évènement*</h3>
            <input type="hidden" name="TYPE D'ÉVÈNEMENT :" value=""/>
            <div class="contact-form__row radio">
              <input type="radio" id="typeChoice1" name="Type" value="Mariage" required>
              <label class="contact-form__radio-label" for="typeChoice1">Mariage</label>
              <input type="radio" id="typeChoice2" name="Type" value="Anniversaire" required>
              <label class="contact-form__radio-label" for="typeChoice2">Anniversaire</label>
              <input type="radio" id="typeChoice3" name="Type" value="Autre" required>
              <label class="contact-form__radio-label" for="typeChoice3">Autre :</label>
              <input class="contact-form__input-text" type="text" name="Autre évènement" placeholder="précisez" autocomplete="off">
            </div>
          </div>

          <div class="contact-form__category">
            <h3 class="contact-form__title">Invités</h3>
            <input type="hidden" name="INVITÉS :" value=""/>
            <div class="contact-form__row">
              <p class="contact-form__label">Nombre d'adultes*</p>
              <span class="contact-form__input-number-decrement" onclick="decrement('adultes')">–</span>
              <input class="contact-form__input-number" type="text" name="Nombre d'adultes" id="adultes" value="1" min="1" autocomplete="off" required>
              <span class="contact-form__input-number-increment" onclick="increment('adultes')">+</span>
            </div>
            <div class="contact-form__row">
              <p class="contact-form__label">Nombre d'enfants</p>
              <span class="contact-form__input-number-decrement" onclick="decrement('enfants')">–</span>
              <input class="contact-form__input-number" type="text" name="Nombre d'enfants" id="enfants" value="0" min="0" autocomplete="off">
              <span class="contact-form__input-number-increment" onclick="increment('enfants')">+</span>
            </div>
            <div class="contact-form__row">
              <p class="contact-form__label">Demande spécifique</p>
              <textarea class="contact-form__textarea" name="Demande spécifique" placeholder="votre demande en quelques mots..." autocomplete="off"></textarea>
            </div>
          </div>

          <div class="contact-form__category">
            <h3 class="contact-form__title">Date</h3>
            <input type="hidden" name="DATE :" value=""/>
            <div class="contact-form__row">
              <p class="contact-form__label">Date souhaitée (choix 1)</p>
              <img class="contact-form__input-icon" id="image-date-1" src="{{ site.baseurl }}/assets/images/icons/calendar.png" alt="calendar-icon">
              <input class="contact-form__input-date" id="input-date-1" type="text" name="date 1" placeholder="JJ/MM/AAAA" autocomplete="off" readonly/>
            </div>
            <div class="contact-form__row">
              <p class="contact-form__label">Date souhaitée (choix 2)</p>
              <img class="contact-form__input-icon" id="image-date-2" src="{{ site.baseurl }}/assets/images/icons/calendar.png" alt="calendar-icon">
              <input class="contact-form__input-date" id="input-date-2" type="text" name="date 2" placeholder="JJ/MM/AAAA" autocomplete="off" readonly/>
            </div>
            <div class="contact-form__row">
              <input type="checkbox" id="undeterminedDateChoice" name="Non déterminée" value="Non déterminée">
              <label class="contact-form__radio-label" for="undeterminedDateChoice">Date encore non déterminée</label>
            </div>
          </div>

          <div class="contact-form__category">
            <h3 class="contact-form__title">Coordonnées</h3>
            <input type="hidden" name="COORDONNEES :" value=""/>
            <div class="contact-form__row">
              <p class="contact-form__label">Nom*</p>
              <input class="contact-form__input-text" type="text" name="Nom" autocomplete="off" required/>
            </div>
            <div class="contact-form__row">
              <p class="contact-form__label">Prénom*</p>
              <input class="contact-form__input-text" type="text" name="Prénom" autocomplete="off" required/>
            </div>
            <div class="contact-form__row">
              <p class="contact-form__label">Email*</p>
              <input class="contact-form__input-text" type="email" name="Email" autocomplete="off" required/>
            </div>
            <div class="contact-form__row">
              <p class="contact-form__label">Téléphone*</p>
              <input class="contact-form__input-text" type="phone" name="Téléphone" autocomplete="off" required/>
            </div>
          </div>

          <div class="contact-form__category">
            <h3 class="contact-form__title">Comment avez-vous connu notre domaine ?*</h3>
            <input type="hidden" name="CONNAISSANCE DU DOMAINE :" value=""/>
            <div class="contact-form__row radio">
              <input type="radio" id="choice1" name="Choix" value="Recherche internet">
              <label class="contact-form__radio-label margin-bottom" for="choice1">Recherche internet</label>
              <input type="radio" id="choice2" name="Choix" value="Mariage.net" required>
              <label class="contact-form__radio-label margin-bottom" for="choice2">Mariages.net</label>
              <input type="radio" id="choice3" name="Choix" value="1001salles.com" required>
              <label class="contact-form__radio-label margin-bottom" for="choice3">1001salles.com</label>
              <input type="radio" id="choice4" name="Choix" value="Zankyou.fr" required>
              <label class="contact-form__radio-label margin-bottom" for="choice4">Zankyou.fr</label>
              <input type="radio" id="choice5" name="Choix" value="Lyon-mariages.com" required>
              <label class="contact-form__radio-label margin-bottom" for="choice5">Lyon-mariage.com</label>
              <input type="radio" id="choice6" name="Choix" value="Bouche à oreille" required>
              <label class="contact-form__radio-label margin-bottom" for="choice6">Bouche à oreille</label>
              <input type="radio" id="choice7" name="Choix" value="Partenaire du Domaine" required>
              <label class="contact-form__radio-label margin-bottom" for="choice7">Partenaire du Domaine</label>
              <input type="radio" id="choice8" name="Choix" value="Lors d'un mariage" required>
              <label class="contact-form__radio-label margin-bottom" for="choice8">Lors d'un mariage</label>
              <input type="radio" id="choice9" name="Choix" value="Autre" required>
              <label class="contact-form__radio-label margin-bottom" for="choice9">Autre :</label>
              <input class="contact-form__input-text" type="text" name="Autre" placeholder="précisez">
            </div>
          </div>

          <input type="hidden" name="_next" value="http://localhost:3000/merci-contact-evnmt-prive/"/>
          <button class="contact-form__button" type="submit">Envoyer</button>

        </form>
      </div>

      <!-- mobile -->
      <div class="contact__tab contact__tab--pro mobile">
        <h2 class="contact__tab__title">Votre évènement professionnel</h2>
        <button class="contact__tab__button">Formulaire de contact</button>
        <p class="contact__tab__description">Pour obtenir un devis personnalisé,<br>
          nous vous invitons à compléter ce formulaire :</p>
      </div>
      <!-- end mobile -->

      <!-- Pro form -->
      <div class="contact__form-container" id="contact__pro-block">
        <form class="contact-form" method="POST" action="https://formspree.io/contact@closdesliesses-reception.fr">

          <div class="contact-form__category">
            <h3 class="contact-form__title">Vous êtes*</h3>
            <input type="hidden" name="VOUS ÊTES :" value=""/>
            <div class="contact-form__row contact-form__row--max-width radio">
              <input type="radio" id="proType1" name="Choix pro" value="Une société">
              <label class="contact-form__radio-label margin-bottom" for="proType1">Une société</label>
              <input type="radio" id="proType2" name="Choix pro" value="Une agence événementielle" required>
              <label class="contact-form__radio-label margin-bottom" for="proType2">Une agence événementielle</label>
              <input type="radio" id="proType3" name="Choix pro" value="Une association" required>
              <label class="contact-form__radio-label margin-bottom" for="proType3">Une association</label>
              <input type="radio" id="proType4" name="Choix pro" value="Un comité d’entreprise" required>
              <label class="contact-form__radio-label margin-bottom" for="proType4">Un comité d’entreprise</label>
              <input type="radio" id="proType5" name="Choix pro" value="Un particulier" required>
              <label class="contact-form__radio-label margin-bottom" for="proType5">Un particulier</label>
              <input type="radio" id="proType6" name="Choix pro" value="Autre" required>
              <label class="contact-form__radio-label margin-bottom" for="proType6">Autre :</label>
              <input class="contact-form__input-text" type="text" name="Autre pro" placeholder="précisez">
            </div>
          </div>

          <div class="contact-form__category">
            <h3 class="contact-form__title">Coordonnées</h3>
            <input type="hidden" name="COORDONNEES :" value=""/>
            <div class="contact-form__row">
              <p class="contact-form__label">Nom*</p>
              <input class="contact-form__input-text" type="text" name="Nom pro" autocomplete="off" required/>
            </div>
            <div class="contact-form__row">
              <p class="contact-form__label">Adresse*</p>
              <input class="contact-form__input-text" type="text" name="Adresse" autocomplete="off" required/>
            </div>
            <div class="contact-form__row">
              <p class="contact-form__label">Code postal*</p>
              <input class="contact-form__input-text small" type="text" name="Code postal" autocomplete="off" required/>
            </div>
            <div class="contact-form__row">
              <p class="contact-form__label">Ville*</p>
              <input class="contact-form__input-text" type="text" name="Ville" autocomplete="off" required/>
            </div>
            <div class="contact-form__row">
              <p class="contact-form__label">Pays*</p>
              <input class="contact-form__input-text" type="text" name="Pays" autocomplete="off" required/>
            </div>
          </div>

          <div class="contact-form__category">
            <h3 class="contact-form__title">Divers</h3>
            <input type="hidden" name="INVITÉS :" value=""/>
            <div class="contact-form__row">
              <p class="contact-form__label">Nombre de personnes*</p>
              <span class="contact-form__input-number-decrement" onclick="decrement('people')">–</span>
              <input class="contact-form__input-number" type="text" name="Nombre de personnes" id="people" value="1" min="1" autocomplete="new-password" required>
              <span class="contact-form__input-number-increment" onclick="increment('people')">+</span>
            </div>
            <div class="contact-form__row">
              <p class="contact-form__label">Autre information</p>
              <textarea class="contact-form__textarea" name="Autre information" placeholder="votre demande en quelques mots..." autocomplete="off"></textarea>
            </div>
          </div>

          <div class="contact-form__category">
            <h3 class="contact-form__title">Dates</h3>
            <input type="hidden" name="DATES :" value=""/>
            <div class="contact-form__row">
              <p class="contact-form__label">Date d'arrivée*</p>
              <img class="contact-form__input-icon" id="image-date-1" src="{{ site.baseurl }}/assets/images/icons/calendar.png" alt="calendar-icon">
              <input class="contact-form__input-date" id="input-date-start" type="text" name="date d'arrivée" placeholder="JJ/MM/AAAA" autocomplete="off" readonly/>
            </div>
            <div class="contact-form__row">
              <p class="contact-form__label">Date de départ*</p>
              <img class="contact-form__input-icon" id="image-date-2" src="{{ site.baseurl }}/assets/images/icons/calendar.png" alt="calendar-icon">
              <input class="contact-form__input-date" id="input-date-end" type="text" name="date de départ" placeholder="JJ/MM/AAAA" autocomplete="off" readonly/>
            </div>
          </div>

          <div class="contact-form__category">
            <h3 class="contact-form__title">Comment avez-vous connu notre domaine ?*</h3>
            <input type="hidden" name="CONNAISSANCE DU DOMAINE :" value=""/>
            <div class="contact-form__row radio">
              <input type="radio" id="proChoice1" name="Choix" value="Recherche internet">
              <label class="contact-form__radio-label margin-bottom" for="proChoice1">Recherche internet</label>
              <input type="radio" id="proChoice2" name="Choix" value="Bouche à oreille" required>
              <label class="contact-form__radio-label margin-bottom" for="proChoice2">Bouche à oreille</label>
              <input type="radio" id="proChoice3" name="Choix" value="Partenaire du Domaine" required>
              <label class="contact-form__radio-label margin-bottom" for="proChoice3">Partenaire du Domaine</label>
              <input type="radio" id="proChoice4" name="Choix" value="Lors d'un mariage" required>
              <label class="contact-form__radio-label margin-bottom" for="proChoice4">Lors d'un mariage</label>
              <input type="radio" id="proChoice5" name="Choix" value="Autre" required>
              <label class="contact-form__radio-label margin-bottom" for="proChoice5">Autre :</label>
              <input class="contact-form__input-text" type="text" name="Autre" placeholder="précisez">
            </div>
          </div>

          <div class="contact-form__category">
              <h3 class="contact-form__title">Personne à contacter</h3>
              <input type="hidden" name="PERSONNE À CONTACTER :" value=""/>
              <div class="contact-form__row">
                <p class="contact-form__label">Nom*</p>
                <input class="contact-form__input-text" type="text" name="Nom" autocomplete="off" required/>
              </div>
              <div class="contact-form__row">
                <p class="contact-form__label">Prénom*</p>
                <input class="contact-form__input-text" type="text" name="Prénom" autocomplete="off" required/>
              </div>
              <div class="contact-form__row">
                <p class="contact-form__label">Email*</p>
                <input class="contact-form__input-text" type="email" name="Email" autocomplete="off" required/>
              </div>
              <div class="contact-form__row">
                <p class="contact-form__label">Téléphone*</p>
                <input class="contact-form__input-text" type="phone" name="Téléphone" autocomplete="off" required/>
              </div>
            </div>

          <input type="hidden" name="_next" value="http://localhost:3000/merci-contact-evnmt-pro/"/>
          <button class="contact-form__button" type="submit">Envoyer</button>

        </form>
      </div>

      <div class="contact__text-container">
        <p class="contact__text-block">
          Pour toute question ou renseignement, n’hésitez pas à contacter Sandie<br><span>
          <!-- <span>(T) 06 62 39 46 74</span><br> -->
          <a class="contact__phone-button" href="tel:0662394674">(T) 06 62 39 46 74</a>
          <span><br>(M) contact@closdesliesses-reception.fr</span>
        </p>
        <p class="contact__text-block">
          Domaine du Clos des Liesses<br>
          382 Chemin du Clos des Liesses - 69380 ALIX
        </p>
      </div>

      <!-- MAP -->
      <div class="contact__map">
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe width="100%" height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=382%20Chemin%20du%20Clos%20des%20Liesses%20-%2069380%20ALIX&t=&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <a href="https://www.crocothemes.net"></a>
          </div>
          <style>.mapouter{text-align:right;height:600px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:600px;width:100%;}</style>
        </div>
      </div>

    </div>

    {% include footer.html %}

    {% include script.html %}

    <script src="{{ site.baseurl }}/assets/js/contact.js?v=0.1"></script>
    <script src="https://unpkg.com/js-datepicker"></script>

  </body>

</html>
