<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}

    <div id="domain">

      <div class="domain__background-intro">
        <h2 class="domain__text-intro">
          <span>Un domaine de caractère,</span><br>
          à 25 minutes de Lyon.
        </h2>
      </div>

      <div class="domain__block">
        <div class="domain__block__content" data-aos="fade-up">
          <p class="domain__block__number">01</p>
          <div class="domain__block__dash"></div>
          <h3 class="domain__block__title">L'entrée du Domaine</h3>
          <div class="domain__block__text-container">
            <p class="domain__block__text">
              En franchissant le portail, laissez-vous<br>
              transporter dans un écrin poétique...
            </p>
          </div>
          <img class="domain__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png"/>
        </div>
        <div class="domain__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/02_CDL_Domaine_image_2.jpg" alt="" data-aos="fade-left">
        </div>
      </div>

      <div class="domain__block domain__block--inverted">
        <div class="domain__block__content" data-aos="fade-up">
          <p class="domain__block__number">02</p>
          <div class="domain__block__dash"></div>
          <h3 class="domain__block__title">La tente de réception</h3>
          <div class="domain__block__text-container">
            <p class="domain__block__text">
              Élégante et majestueuse, la tente de réception<br>
              de 150 m² garantit le succès de votre réception<br>
              en offrant un espace abrité du soleil et de la pluie.
            </p>
            <p class="domain__block__text">
              Dès le soir venu, elle donnera une autre dimension<br>
              à votre cocktail avec ses couleurs féériques.
            </p>
          </div>
          <img class="domain__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png"/>
        </div>
        <div class="domain__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/02_CDL_Domaine_image_3.jpg" alt="" data-aos="fade-left">
        </div>
      </div>

      <div class="domain__block">
        <div class="domain__block__content" data-aos="fade-up">
          <p class="domain__block__number">03</p>
          <div class="domain__block__dash"></div>
          <h3 class="domain__block__title">La salle de réception</h3>
          <div class="domain__block__text-container">
            <p class="domain__block__text">
              Offrant un très bel espace de pureté et<br>
              d'élégance, la salle de réception en pierres<br>
              dorées de 186 m² rassemblera vos invités dans<br>
              un décor sublimé propice au rêve et à l'émotion.
            </p>
          </div>
          <img class="domain__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png"/>
        </div>
        <div class="domain__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/02_CDL_Domaine_image_4.jpg" alt="" data-aos="fade-left">
        </div>
      </div>

      <div class="domain__block domain__block--inverted">
        <div class="domain__block__content" data-aos="fade-up">
          <p class="domain__block__number">04</p>
          <div class="domain__block__dash"></div>
          <h3 class="domain__block__title">Le gîte</h3>
          <div class="domain__block__text-container">
            <p class="domain__block__text">
              À la manière d'une maison de famille, le gîte vous<br>
              permettra de loger sur place jusqu'à 20 personnes<br>
              avec une prestation soignée : linge de lit et linge<br>
              de toilette fournis, ménage compris, espace<br>
              petit-déjeuner.
            </p>
          </div>
          <img class="domain__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png"/>
        </div>
        <div class="domain__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/02_CDL_Domaine_image_5.jpg" alt="" data-aos="fade-left">
        </div>
      </div>

      <div class="domain__block">
        <div class="domain__block__content" data-aos="fade-up">
          <p class="domain__block__number">05</p>
          <div class="domain__block__dash"></div>
          <h3 class="domain__block__title">La roulotte</h3>
          <div class="domain__block__text-container">
            <p class="domain__block__text">
              Quand une roulotte centenaire devient une suite<br>
              nuptiale dans un esprit "Bohème Chic".
            </p>
            <p class="domain__block__text">
              Baptisée "Romance Tzigance" cette suite est<br>
              un véritable cocon propice à la tendresse et<br>
              au voyage immobile.
            </p>
          </div>
          <img class="domain__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png"/>
        </div>
        <div class="domain__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/02_CDL_Domaine_image_6_ENATTENTE.jpg" alt="" data-aos="fade-left">
        </div>
      </div>

      <div class="domain__block domain__block--inverted">
        <div class="domain__block__content" data-aos="fade-up">
          <p class="domain__block__number">06</p>
          <div class="domain__block__dash"></div>
          <h3 class="domain__block__title">Espace enfants</h3>
          <div class="domain__block__text-container">
            <p class="domain__block__text">
              Attenant à l'espace Gîte, les bambins pourront<br>
              y jouer et y dormir. Nous pouvons vous proposer<br>
              un service de baby-sitting.
            </p>
          </div>
          <img class="domain__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png"/>
        </div>
        <div class="domain__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/02_CDL_Domaine_image_7.jpg" alt="" data-aos="fade-left">
        </div>
      </div>

      <div class="domain__block">
        <div class="domain__block__content" data-aos="fade-up">
          <p class="domain__block__number">07</p>
          <div class="domain__block__dash"></div>
          <h3 class="domain__block__title">Les extérieurs</h3>
          <div class="domain__block__text-container">
            <p class="domain__block__text">
              Attenante à la salle de réception, la terrasse<br>
              de 180 m² permettra à vos invités de profiter<br>
              des nuits étoilées, entourés d'oliviers centenaires.
            </p>
            <p class="domain__block__text">
              Le soir le domaine revêt ses habits de lumière<br>
              avec une mise en lumière du plus bel effet.
            </p>
          </div>
          <img class="domain__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png"/>
        </div>
        <div class="domain__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/02_CDL_Domaine_image_8.jpg" alt="" data-aos="fade-left">
        </div>
      </div>

    </div>

    <!-- <div id="signature">Copyright © 2018&nbsp;<a href="http://tiffany-vachez.com/">&nbsp;Tiffany Vachez</a></div> -->

    {% include footer.html %}

    {% include script.html %}

  </body>

</html>
