<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body>

    {% include loader.html %}

    {% include nav.html %}

    <div id="domain">

      <div class="domain__background-intro">
        <h2 class="domain__text-intro">
          <span>Un domaine de<br class="mobile"> caractère,</span><br class="desktop"> à 25<br class="mobile"> minutes de Lyon.
        </h2>
      </div>

      {% include scroll-indicator-bullets.html %}

      <div class="specs">
        <div class="specs__topic">
          <div class="specs__unwinder"></div>
          <p class="specs__see">Voir</p>
          <h3 class="specs__section-question">Fiche technique du domaine</h3>
          <div class="specs__section-answer-wrapper">
            <div class="specs__section-answer-containers">
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_1.png" alt="">
                <p class="specs__section-answer">
                  <strong>Tente de réception pour cocktail et brunch :</strong> 150 m² - jusqu'à 220 personnes en cocktail.<br>
                  Mise en lumière, chauffage, ménage et mobilier inclus.
                </p>
              </div>
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_2.png" alt="">
                <p class="specs__section-answer">
                  <strong>Salle de réception pour dîner et soirée :</strong> 186 m² - jusqu'à 140 personnes en dîner assis avec<br>
                  piste de danse. Mise en lumière, sonorisation, chauffage/climatisation, ménage et mobilier inclus.
                </p>
              </div>
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_3.png" alt="">
                <p class="specs__section-answer">
                  <strong>Hébergements :</strong> sur place pour 22 personnes dont une suite nuptiale.
                </p>
              </div>
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_4.png" alt="">
                <p class="specs__section-answer">
                  <strong>Gîtes, chambres d'hôtes et hôtels :</strong> à moins de 10 minutes du domaine.
                </p>
              </div>
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_5.png" alt="">
                <p class="specs__section-answer">
                  <strong>Parking privé :</strong> 130 places.
                </p>
              </div>
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_6.png" alt="">
                <p class="specs__section-answer">
                  <strong>Espace enfants</strong>
                </p>
              </div>
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_7.png" alt="">
                <p class="specs__section-answer">
                  <strong>Accès personnes à mobilité réduite :</strong> parking, sanitaires, cocktail et dîner.
                </p>
              </div>
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_8.png" alt="">
                <p class="specs__section-answer">
                  <strong>Cuisine traiteur professionnelle aux dernières normes:</strong>
                </p>
              </div>
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_9.png" alt="">
                <p class="specs__section-answer">
                  <strong>Parc arboré de 10 hectares clos de mur avec chevaux :</strong> idéal pour séance photos
                  et cérémonie d'engagement.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="specs__topic">
          <div class="specs__unwinder"></div>
          <p class="specs__see">Voir</p>
          <h3 class="specs__section-question">Les "plus" du clos des liesses</h3>
          <div class="specs__section-answer-wrapper">
            <div class="specs__section-answer-containers">
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_10.png" alt="">
                <p class="specs__section-answer">
                  Accompagnement personnalisé.
                </p>
              </div>
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_11.png" alt="">
                <p class="specs__section-answer">
                  Privatisation intégrale du domaine pour vous et vos invités.
                </p>
              </div>
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_12.png" alt="">
                <p class="specs__section-answer">
                  Mise à disposition du domaine sur trois jours : la veille de votre événement<br>
                  pour la décoration et jusqu'au lendemain soir pour organiser un brunch.
                </p>
              </div>
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_13.png" alt="">
                <p class="specs__section-answer">
                  Tout le mobilier inclus pour le cocktail, le dîner et le brunch.
                </p>
              </div>
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_14.png" alt="">
                <p class="specs__section-answer">
                  Mise en lumière des espaces de réceptions dernière génération incluse...<br>
                  pour une ambiance féérique.
                </p>
              </div>
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_15.png" alt="">
                <p class="specs__section-answer">
                  Mise en place du mobilier et ménage inclus.
                </p>
              </div>
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_16.png" alt="">
                <p class="specs__section-answer">
                  Pas de limite horaire pour la sonorisation en fin de soirée.
                </p>
              </div>
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_17.png" alt="">
                <p class="specs__section-answer">
                  Nombreux hébergements à proximité.
                </p>
              </div>
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_18.png" alt="">
                <p class="specs__section-answer">
                  Parc du domaine idéal pour une séance photo.
                </p>
              </div>
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_19.png" alt="">
                <p class="specs__section-answer">
                  Cérémonie d'engagement : allées ombragées en pleine nature dans le parc de 10 hectares<br>
                  entourées de chevaux. En cas de pluie, possibilité de se replier dans la partie centrale<br>
                  de la tente de réception pour 120 personnes assises.
                </p>
              </div>
              <div class="specs__section-answer-container">
                <img class="specs__icon" src="{{ site.baseurl }}/assets/images/icons/02_CDL_Domaine_picto_20.png" alt="">
                <p class="specs__section-answer">
                  Liste de prestataires coup de coeur (traiteurs, DJ, photographes,...).
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="domain__block" id="domain-block-1">
        <div class="domain__block__content" data-aos="fade-up">
          <p class="domain__block__number">01</p>
          <div class="domain__block__dash"></div>
          <h3 class="domain__block__title">L'entrée du Domaine</h3>
          <div class="domain__block__text-container">
            <p class="domain__block__text">
              En franchissant le portail, laissez-vous<br>
              transporter dans un écrin poétique...
            </p>
          </div>
          <a class="js-scrollTo" href="#domain-block-2">
            <img class="domain__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png" alt=""/>
          </a>
        </div>
        <div class="domain__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/02_CDL_Domaine_image_2.jpg" alt="L'entrée du Domaine" data-aos="fade-left">
        </div>
      </div>

      <div class="domain__block domain__block--inverted" id="domain-block-2">
        <div class="domain__block__content" data-aos="fade-up">
          <p class="domain__block__number">02</p>
          <div class="domain__block__dash"></div>
          <h3 class="domain__block__title">La tente de réception</h3>
          <div class="domain__block__text-container">
            <p class="domain__block__text">
              Élégante et majestueuse, la tente de réception<br>
              de 150 m² garantit le succès de votre réception<br>
              en offrant un espace abrité du soleil et de la pluie.
            </p>
            <p class="domain__block__text">
              Dès le soir venu, elle donnera une autre dimension<br>
              à votre cocktail avec ses couleurs féériques.
            </p>
          </div>
          <a class="js-scrollTo" href="#domain-block-3">
            <img class="domain__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png" alt=""/>
          </a>
        </div>
        <div class="domain__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/02_CDL_Domaine_image_3.jpg" alt="Tente de réception pour cocktail" data-aos="fade-left">
        </div>
      </div>

      <div class="domain__block" id="domain-block-3">
        <div class="domain__block__content" data-aos="fade-up">
          <p class="domain__block__number">03</p>
          <div class="domain__block__dash"></div>
          <h3 class="domain__block__title">La salle de réception</h3>
          <div class="domain__block__text-container">
            <p class="domain__block__text">
              Offrant un très bel espace de pureté et<br>
              d'élégance, la salle de réception en pierres<br>
              dorées de 186 m² rassemblera vos invités dans<br>
              un décor sublimé propice au rêve et à l'émotion.
            </p>
          </div>
          <a class="js-scrollTo" href="#domain-block-4">
            <img class="domain__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png" alt=""/>
          </a>
        </div>
        <div class="domain__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/02_CDL_Domaine_image_4.jpg" alt="Plus belle salle de réception Lyon" data-aos="fade-left">
        </div>
      </div>

      <div class="domain__block domain__block--inverted" id="domain-block-4">
        <div class="domain__block__content" data-aos="fade-up">
          <p class="domain__block__number">04</p>
          <div class="domain__block__dash"></div>
          <h3 class="domain__block__title">Le gîte</h3>
          <div class="domain__block__text-container">
            <p class="domain__block__text">
              À la manière d'une maison de famille, le gîte vous<br>
              permettra de loger sur place jusqu'à 20 personnes<br>
              avec une prestation soignée : linge de lit et linge<br>
              de toilette fournis, ménage compris, espace<br>
              petit-déjeuner.
            </p>
          </div>
          <a class="js-scrollTo" href="#domain-block-5">
            <img class="domain__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png" alt=""/>
          </a>
        </div>
        <div class="domain__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/02_CDL_Domaine_image_5.jpg" alt="Gîte aux prestations soignées Rhône" data-aos="fade-left">
        </div>
      </div>

      <div class="domain__block" id="domain-block-5">
        <div class="domain__block__content" data-aos="fade-up">
          <p class="domain__block__number">05</p>
          <div class="domain__block__dash"></div>
          <h3 class="domain__block__title">La roulotte</h3>
          <div class="domain__block__text-container">
            <p class="domain__block__text">
              Quand une roulotte centenaire devient une suite<br>
              nuptiale dans un esprit "Bohème Chic".
            </p>
            <p class="domain__block__text">
              Baptisée "Romance Tzigance" cette suite est<br>
              un véritable cocon propice à la tendresse et<br>
              au voyage immobile.
            </p>
          </div>
          <a class="js-scrollTo" href="#domain-block-6">
            <img class="domain__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png" alt=""/>
          </a>
        </div>
        <div class="domain__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/02_CDL_Domaine_image_6.jpg" alt="Roulotte suite nuptiale" data-aos="fade-left">
        </div>
      </div>

      <div class="domain__block domain__block--inverted" id="domain-block-6">
        <div class="domain__block__content" data-aos="fade-up">
          <p class="domain__block__number">06</p>
          <div class="domain__block__dash"></div>
          <h3 class="domain__block__title">Espace enfants</h3>
          <div class="domain__block__text-container">
            <p class="domain__block__text">
              Attenant à l'espace Gîte, les bambins pourront<br>
              y jouer et y dormir. Nous pouvons vous proposer<br>
              un service de baby-sitting.
            </p>
          </div>
          <a class="js-scrollTo" href="#domain-block-7">
            <img class="domain__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png" alt=""/>
          </a>
        </div>
        <div class="domain__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/02_CDL_Domaine_image_7.jpg" alt="Espace enfants pendant mariage" data-aos="fade-left">
        </div>
      </div>

      <div class="domain__block" id="domain-block-7">
        <div class="domain__block__content" data-aos="fade-up">
          <p class="domain__block__number">07</p>
          <div class="domain__block__dash"></div>
          <h3 class="domain__block__title">Les extérieurs</h3>
          <div class="domain__block__text-container">
            <p class="domain__block__text">
              Attenante à la salle de réception, la terrasse<br>
              de 180 m² permettra à vos invités de profiter<br>
              des nuits étoilées, entourés d'oliviers centenaires.
            </p>
            <p class="domain__block__text">
              Le soir le domaine revêt ses habits de lumière<br>
              avec une mise en lumière du plus bel effet.
            </p>
          </div>
          <a class="js-scrollTo" href="#domain-block-8">
            <img class="domain__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png" alt=""/>
          </a>
        </div>
        <div class="domain__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/02_CDL_Domaine_image_8.jpg" alt="Domaine de réception forêt" data-aos="fade-left">
        </div>
      </div>

      <div class="domain__block domain__block--centered" id="domain-block-8">
        <p class="domain__block__number" data-aos="fade-up">08</p>
        <div class="domain__block__dash" data-aos="fade-up"></div>
        <h3 class="domain__block__title" data-aos="fade-up">Un peu d'histoire</h3>
        <div class="domain__block__content">
          <div class="domain__block__text-container" data-aos="fade-left">
            <p class="domain__block__text">
              Depuis sa création le Domaine du Clos des<br>
              Liesses est un lieu de joie. Effectivement,<br>
              à son origine le domaine faisait partie du<br>
              Noble Chapitre des Chanoinesses d'Alix.<br>
              La salle de réception était à l'époque un salon<br>
              de conversation et de jeux pour les jeunes<br>
              femmes chanoinesses. Le parc arboré était<br>
              propice aux promenades contemplatives.
            </p>
            <p class="domain__block__text">
              Persuadé que les vrais souvenirs naissent<br>
              souvent de l'atmosphère des lieux,<br>
              son propriétaire, a entièrement restauré<br>
              ce domaine, pierre par pierre, durant 20 ans.<br>
              Celui-ci guidé par de vraies valeurs,<br>
              a su conserver de cette propriété, ses vestiges<br>
              et la sérénité qui s'en dégage.
            </p>
            <p class="domain__block__text">
              Apportant une touche esthétique à ce cadre,<br>
              des chevaux paisibles se délectent de l'herbe<br>
              tendre des prairies entourant la salle de
              réception.
            </p>
          </div>
          <div class="domain__block__image"  data-aos="fade-right">
            <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/02_CDL_Domaine_image_9.jpg" alt="Domaine de mariage à Lyon">
          </div>
        </div>
      </div>

    </div>

    <!-- <div id="signature">Copyright © 2018&nbsp;<a href="http://tiffany-vachez.com/">&nbsp;Tiffany Vachez</a></div> -->

    {% include footer.html %}

    {% include script.html %}

    <script src="{{ site.baseurl }}/assets/js/domain.js?v=0.1"></script>
    <script src="{{ site.baseurl }}/assets/js/unwinder.js?v=0.1"></script>

  </body>

</html>
