<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body>

    {% include nav.html %}

    <div id="private-event">

      <div class="private-event__background-intro">
        <h2 class="private-event__text-intro">
          Mariage chic<br class="mobile"> et champêtre,<br>
          <span>pour votre journée<br class="mobile"> de rêve</span>
        </h2>
      </div>

      {% include scroll-indicator-bullets.html %}


      <div class="private-event__block" id="private-event-block-1">
        <div class="private-event__block__content" data-aos="fade-up">
          <img class="private-event__block__icon" src="{{ site.baseurl}}/assets/images/icons/03_CDL_EventPrive_picto_1.png" alt="">
          <h3 class="private-event__block__title">L'arrivée des mariés</h3>
          <div class="private-event__block__text-container">
            <p class="private-event__block__text">
              Une arrivée en voiture ancienne ou en tandem<br>
              devant la tente de réception pour l’ouverture<br>
              du cocktail... Choississez l’ambiance qui<br>
              vous ressemble.
            </p>
          </div>
          <a class="js-scrollTo" href="#private-event-block-2">
            <img class="private-event__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png"/>
          </a>
        </div>
        <div class="private-event__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/03_CDL_EventPrive_image_2.jpg" alt="" data-aos="fade-left">
        </div>
      </div>

      <div class="private-event__block private-event__block--inverted" id="private-event-block-2">
        <div class="private-event__block__content" data-aos="fade-up">
          <img class="private-event__block__icon" src="{{ site.baseurl}}/assets/images/icons/03_CDL_EventPrive_picto_2.png" alt="">
          <h3 class="private-event__block__title">La cérémonie</h3>
          <div class="private-event__block__text-container">
            <p class="private-event__block__text">
              Imaginez votre cérémonie d'engagement en pleine<br>
              forêt dans un décor naturel et authentique.<br>
              Et si la pluie s'invite, la tente de réception sera<br>
              l'écrin parfait pour ce moment d'intenses émotions.
            </p>
          </div>
          <a class="js-scrollTo" href="#private-event-block-3">
            <img class="private-event__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png"/>
          </a>
        </div>
        <div class="private-event__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/03_CDL_EventPrive_image_3.jpg" alt="" data-aos="fade-left">
        </div>
      </div>

      <div class="private-event__block" id="private-event-block-3">
        <div class="private-event__block__content" data-aos="fade-up">
          <img class="private-event__block__icon" src="{{ site.baseurl}}/assets/images/icons/03_CDL_EventPrive_picto_3.png" alt="">
          <h3 class="private-event__block__title">La séance photo</h3>
          <div class="private-event__block__text-container">
            <p class="private-event__block__text">
              Offrant des ambiances uniques, le Domaine<br>
              du Clos des Liesses se dévoilera et vous laissera<br>
              investir ses chemins arborés, ses prairies aux<br>
              mille senteurs, sa terrasse tendrement ensoleillée<br>
              entre oliviers et pierres dorées... un décor idéal<br>
              pour une séance photo "Chic & Champêtre" !
            </p>
          </div>
          <a class="js-scrollTo" href="#private-event-block-4">
            <img class="private-event__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png"/>
          </a>
        </div>
        <div class="private-event__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/03_CDL_EventPrive_image_4.jpg" alt="" data-aos="fade-left">
        </div>
      </div>

      <div class="private-event__block private-event__block--inverted" id="private-event-block-4">
        <div class="private-event__block__content" data-aos="fade-up">
          <img class="private-event__block__icon" src="{{ site.baseurl}}/assets/images/icons/03_CDL_EventPrive_picto_4.png" alt="">
          <h3 class="private-event__block__title">Le cocktail</h3>
          <div class="private-event__block__text-container">
            <p class="private-event__block__text">
              La soirée débutera au coeur du domaine, autour<br>
              d'un cocktail convivial et raffiné, dans le décor<br>
              élégant et festif de la tente de réception<br>
              et de ses abords offrants une vue à 180°<br>
              sur le domaine et les chevaux.
            </p>
          </div>
          <a class="js-scrollTo" href="#private-event-block-5">
            <img class="private-event__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png"/>
          </a>
        </div>
        <div class="private-event__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/03_CDL_EventPrive_image_5.jpg" alt="" data-aos="fade-left">
        </div>
      </div>

      <div class="private-event__block" id="private-event-block-5">
        <div class="private-event__block__content" data-aos="fade-up">
          <img class="private-event__block__icon" src="{{ site.baseurl}}/assets/images/icons/03_CDL_EventPrive_picto_5.png" alt="">
          <h3 class="private-event__block__title">Le dîner et la soirée</h3>
          <div class="private-event__block__text-container">
            <p class="private-event__block__text">
              La surprise sera totale lorsque vos invités<br>
              découvriront votre décoration dans la salle<br>
              de réception en pierres dorées et charpente<br>
              apparente.<br>
              La mise en lumière soignée plongera vos invités<br>
              dans le rêve et l'émotion jusqu'au bout de la nuit.
            </p>
          </div>
          <a class="js-scrollTo" href="#private-event-block-6">
            <img class="private-event__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png"/>
          </a>
        </div>
        <div class="private-event__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/03_CDL_EventPrive_image_6.jpg" alt="" data-aos="fade-left">
        </div>
      </div>

      <div class="private-event__block private-event__block--inverted" id="private-event-block-6">
        <div class="private-event__block__content" data-aos="fade-up">
          <img class="private-event__block__icon" src="{{ site.baseurl}}/assets/images/icons/03_CDL_EventPrive_picto_6.png" alt="">
          <h3 class="private-event__block__title">Espace enfants</h3>
          <div class="private-event__block__text-container">
            <p class="private-event__block__text">
              Attenant à l'espace Gîte, les bambins pourront<br>
              y jouer et y dormir. Ainsi, les parents pourront<br>
              profiter pleinement de chaque instants à vos côtés.
            </p>
          </div>
          <a class="js-scrollTo" href="#private-event-block-7">
            <img class="private-event__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png"/>
          </a>
        </div>
        <div class="private-event__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/03_CDL_EventPrive_image_7.jpg" alt="" data-aos="fade-left">
        </div>
      </div>

      <div class="private-event__block" id="private-event-block-7">
        <div class="private-event__block__content" data-aos="fade-up">
          <img class="private-event__block__icon" src="{{ site.baseurl}}/assets/images/icons/03_CDL_EventPrive_picto_7.png" alt="">
          <h3 class="private-event__block__title">Les hébergements</h3>
          <div class="private-event__block__text-container">
            <p class="private-event__block__text">
              Tout à été pensé pour loger vos familles et<br>
              amis proches (20 personnes) sur place.<br>
              Nous avons également sélectionné de nombreux<br>
              autres hébergements situés à moins de 20<br>
              minutes du domaine.
            </p>
          </div>
          <a class="js-scrollTo" href="#private-event-block-8">
            <img class="private-event__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png"/>
          </a>
        </div>
        <div class="private-event__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/03_CDL_EventPrive_image_8.jpg" alt="" data-aos="fade-left">
        </div>
      </div>

      <div class="private-event__block private-event__block--inverted" id="private-event-block-8">
        <div class="private-event__block__content" data-aos="fade-up">
          <img class="private-event__block__icon" src="{{ site.baseurl}}/assets/images/icons/03_CDL_EventPrive_picto_8.png" alt="">
          <h3 class="private-event__block__title">La suite nuptiale</h3>
          <div class="private-event__block__text-container">
            <p class="private-event__block__text">
              Quand une roulotte centenaire devient une suite<br>
              nuptiale dans un esprit "Bohème Chic".
            </p>
            <p class="private-event__block__text">
              Baptisée "Romance Tzigance" cette suite est<br>
              un véritable cocon propice à la tendresse et<br>
              au voyage immobile.
            </p>
          </div>
          <a class="js-scrollTo" href="#private-event-block-9">
            <img class="private-event__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png"/>
          </a>
        </div>
        <div class="private-event__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/03_CDL_EventPrive_image_9.jpg" alt="" data-aos="fade-left">
        </div>
      </div>

      <div class="private-event__block" id="private-event-block-9">
        <div class="private-event__block__content" data-aos="fade-up">
          <img class="private-event__block__icon" src="{{ site.baseurl}}/assets/images/icons/03_CDL_EventPrive_picto_9.png" alt="">
          <h3 class="private-event__block__title">Le brunch</h3>
          <div class="private-event__block__text-container">
            <p class="private-event__block__text">
              Pour commencer la journée du dimanche<br>
              en douceur, la tente de réception vous permettra<br>
              d'organiser un brunch ensoleillé qui se<br>
              prolongera jusque dans l'après-midi.
            </p>
          </div>
          <a class="private-event__block__button" href="{{ site.baseurl }}/evenement-prive">Organiser votre journée de rêve</a>
        </div>
        <div class="private-event__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/03_CDL_EventPrive_image_10.jpg" alt="" data-aos="fade-left">
        </div>
      </div>

      <div class="private-event__contact">
        <h3 class="private-event__contact__title">Contactez-nous</h3>
        <p class="private-event__contact__text">
          Pour obtenir plus d'informations sur le domaine (dates disponibles, tarifs, ...)<br>
          en vue de votre mariage, nous vous invitons à compléter le formulaire de contact :
        </p>
        <a class="private-event__block__button" href="{{ site.baseurl }}/contact">Formulaire de contact</a>
      </div>

    </div>

    <!-- <div id="signature">Copyright © 2018&nbsp;<a href="http://tiffany-vachez.com/">&nbsp;Tiffany Vachez</a></div> -->

    {% include footer.html %}

    {% include script.html %}

    <script src="{{ site.baseurl }}/assets/js/private-event.js?v=0.1"></script>

  </body>

</html>
