<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}

    <div id="gallery">

      <h1 class="gallery__title">Galerie</h1>

      <div class="gallery__navigation">
        <div class="navigation__tab" data-selector="all">Tout</div>
        <div class="navigation__tab" data-selector="domain">Domaine</div>
        <div class="navigation__tab" data-selector="ceremony">Cérémonie</div>
      </div>

      <div class="swiper-container" id="swiper-container--all">
          <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_2.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_3.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_4.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_4.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_5.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_5.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_5.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_6.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_6.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_6.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_7.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_7.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_7.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_8.jpg)"></div>
          </div>
          <div class="swiper-pagination"></div>
          <!-- Add Arrows -->
          <div class="swiper-button-next swiper-button-white"></div>
          <div class="swiper-button-prev swiper-button-white"></div>
      </div>

      <div class="swiper-container" id="swiper-container--domain">
          <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-2.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-3.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-4.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-5.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-6.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-7.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-8.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-9.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-10.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-11.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-12.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-13.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-14.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-15.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-16.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-17.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-18.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-19.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-20.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-21.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-22.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-23.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-24.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-25.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-26.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-27.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-28.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-29.jpg)"></div>
          </div>
          <div class="swiper-pagination swiper-pagination--domain"></div>
          <!-- Add Arrows -->
          <div class="swiper-button-next swiper-button-white"></div>
          <div class="swiper-button-prev swiper-button-white"></div>
      </div>

      <div class="swiper-container" id="swiper-container--ceremony">
          <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_2.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_3.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_4.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_4.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_5.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_5.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_5.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_6.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_6.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_6.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_7.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_7.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_7.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/02_CDL_Domaine_image_8.jpg)"></div>
          </div>
          <div class="swiper-pagination"></div>
          <!-- Add Arrows -->
          <div class="swiper-button-next swiper-button-white"></div>
          <div class="swiper-button-prev swiper-button-white"></div>
      </div>

    </div>

    {% include footer.html %}

    {% include script.html %}

    <script src="{{ site.baseurl }}/assets/js/gallery.js?v=0" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/assets/js/swiper.min.js?version=0"></script>
    <script src="{{ site.baseurl }}/assets/js/swiper.min.js.map?version=0"></script>

  </body>

</html>