<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}

    <div id="gallery">

      <h1 class="gallery__title">Galerie</h1>

      <div class="gallery__navigation">
        <h2 class="navigation__tab" data-selector="domain">Domaine</h2>
        <h2 class="navigation__tab" data-selector="ceremony">Cérémonie</h2>
        <h2 class="navigation__tab" data-selector="cocktail">Cocktail</h2>
        <h2 class="navigation__tab" data-selector="diner">Diner</h2>
        <h2 class="navigation__tab" data-selector="hebergement">Hébergement</h2>
        <h2 class="navigation__tab" data-selector="videos">Vidéos</h2>
      </div>

      <div class="swiper-container" id="swiper-container--domain">
          <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-2.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-3.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-4.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-5.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-6.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-7.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-8.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-9.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-10.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-11.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-12.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-13.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-14.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-15.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-16.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-17.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-18.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-19.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-20.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-21.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-22.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-23.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-24.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(../assets/images/domaine/domaine-25.jpg)"></div>
          </div>
          <div class="swiper-pagination swiper-pagination--domain"></div>
          <!-- Add Arrows -->
          <div class="swiper-button-next swiper-button-white"></div>
          <div class="swiper-button-prev swiper-button-white"></div>
      </div>

      <div class="swiper-container" id="swiper-container--ceremony">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image:url(../assets/images/ceremonie/ceremonie-1.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/ceremonie/ceremonie-2.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/ceremonie/ceremonie-3.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/ceremonie/ceremonie-4.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/ceremonie/ceremonie-5.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/ceremonie/ceremonie-6.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/ceremonie/ceremonie-7.jpg)"></div>
        </div>
        <div class="swiper-pagination swiper-pagination--ceremony"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
      </div>

      <div class="swiper-container" id="swiper-container--cocktail">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image:url(../assets/images/cocktail/cocktail-1.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/cocktail/cocktail-2.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/cocktail/cocktail-3.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/cocktail/cocktail-4.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/cocktail/cocktail-5.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/cocktail/cocktail-6.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/cocktail/cocktail-7.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/cocktail/cocktail-8.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/cocktail/cocktail-9.jpg)"></div>
        </div>
        <div class="swiper-pagination swiper-pagination--cocktail"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
      </div>

      <div class="swiper-container" id="swiper-container--diner">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-1.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-2.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-3.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-4.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-5.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-6.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-7.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-8.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-9.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-10.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-11.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-12.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-13.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-14.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-15.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-16.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-17.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-18.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-19.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-20.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-21.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-22.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-23.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/diner/diner-24.jpg)"></div>
        </div>
        <div class="swiper-pagination swiper-pagination--diner"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
      </div>

      <div class="swiper-container" id="swiper-container--hebergement">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-1.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-2.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-3.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-4.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-5.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-6.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-7.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-8.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-9.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-10.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-11.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-12.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-13.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-14.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-15.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-16.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-17.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-18.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-19.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-20.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(../assets/images/hebergement/hebergement-21.jpg)"></div>
        </div>
        <div class="swiper-pagination swiper-pagination--hebergement"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
      </div>

      <div class="swiper-container" id="swiper-container--videos">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/VC0Vjziu5V0?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination--videos"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
      </div>

    </div>

    <div class="gallery__contact">
      <h3 class="gallery__contact__title">Contactez-nous</h3>
      <p class="gallery__contact__text">
        Pour obtenir plus d'informations sur le domaine (dates disponibles, tarifs, ...),<br>
        nous vous invitons à compléter le formulaire de contact :
      </p>
      <button class="gallery__contact__button">Formulaire de contact</button>
    </div>

    {% include footer.html %}

    {% include script.html %}

    <script src="{{ site.baseurl }}/assets/js/gallery.js?v=0" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/assets/js/swiper.min.js?version=0"></script>
    <script src="{{ site.baseurl }}/assets/js/swiper.min.js.map?version=0"></script>

  </body>

</html>