<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body>

    {% include loader.html %}

    {% include nav.html %}

    <div id="homepage">

      <div class="homepage__background-intro">
        <h1 class="homepage__text-intro"><span>Un lieu<br class="mobile"> intemporel</span>, pour<br>des souvenirs éternels.</h1>
        <a class="js-scrollTo" href="#homepage-block-1">
          <img class="homepage__arrow-intro" alt="domaine de réception" src="{{ site.baseurl }}/assets/images/01_CDL_Home_arrow.png">
        </a>
      </div>

      <div class="homepage__block homepage__block--1" id="homepage-block-1">
        <p class="homepage__block__number" data-aos="fade-up">01</p>
        <div class="homepage__block__dash" data-aos="fade-up"></div>
        <h2 class="homepage__block__title" data-aos="fade-up"><span>L'écrin parfait</span> de votre réception</h2>
        <div class="homepage__block__text-container">
          <p class="homepage__block__text" data-aos="fade-right">Imaginez, une arrivée dans un parc aux arbres<br> centenaires, un cocktail entouré de chevaux<br> paisibles, un dîner dans une élégante salle<br> en pierres dorées.</p>
          <p class="homepage__block__text" data-aos="fade-left">A 25 minutes de Lyon, rien ne semble pouvoir<br> déranger la quiétude de ce site qui, le soir,<br> revêt ses habits de lumières pour devenir<br> un royaume où la fête est seule souveraine.</p>
        </div>
        <a class="private-event__block__button" href="{{ site.baseurl }}/domaine/">découvrez le domaine</a>
        <a class="js-scrollTo" href="#homepage-block-2">
          <img class="domain__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png" alt=""/>
        </a>
      </div>

      <div class="homepage__block homepage__block--2" id="homepage-block-2">
        <div class="homepage__block__content" data-aos="fade-up">
          <p class="homepage__block__number">02</p>
          <div class="homepage__block__dash"></div>
          <h2 class="homepage__block__title">Le plus beau jour<br><span>de votre vie</span></h2>
          <div class="homepage__block__text-container">
            <p class="homepage__block__text">Choisissez un mariage chic et champêtre :<br>laissez-vous guider pour une journée de rêve<br>au Domaine du Clos des Liesses...</p>
          </div>
          <a class="private-event__block__button" href="{{ site.baseurl }}/evenement-prive/">votre mariage</a>
          <a class="js-scrollTo" href="#homepage-block-3">
            <img class="domain__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png" alt=""/>
          </a>
        </div>
        <div class="homepage__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/01_CDL_Home_image_2.jpg" alt="Salle de mariage chic à Lyon" data-aos="fade-left">
        </div>
      </div>

      <div class="homepage__block homepage__block--3" id="homepage-block-3">
        <div class="homepage__block__image">
          <img class="centered-crop-image" src="{{ site.baseurl}}/assets/images/01_CDL_Home_image_3.jpg" alt="Domaine cocktail et soirée d'entreprise à Lyon" data-aos="fade-right">
        </div>
        <div class="homepage__block__content" data-aos="fade-up">
          <p class="homepage__block__number">03</p>
          <div class="homepage__block__dash"></div>
          <h2 class="homepage__block__title"><span>Ajoutez de l'émotion</span><br>à vos événements</h2>
          <div class="homepage__block__text-container">
            <p class="homepage__block__text">De par sa configuration et son environnement,<br> le Domaine du Clos des Liesses est parfaitement<br> adapté pour une Garden Party, un cocktail,<br> une soirée d'entreprise ou une conférence...</p>
          </div>
          <a class="private-event__block__button" href="{{ site.baseurl }}/evenement-professionnel/">vos événements professionnels</a>
          <a class="js-scrollTo" href="#footer">
            <img class="domain__block__arrow" src="{{ site.baseurl }}/assets/images/icons/icon-caret.png" alt=""/>
          </a>
        </div>
      </div>

    </div>

    <!-- <div id="signature">Copyright © 2018&nbsp;<a href="http://tiffany-vachez.com/">&nbsp;Tiffany Vachez</a></div> -->

    {% include footer.html %}

    {% include script.html %}

    <script src="{{ site.baseurl }}/assets/js/homepage.js?v=0.1"></script>

  </body>

</html>
