footer {
  display: flex;
  flex-direction: column;
  background-color: #484743;
  width: 100%;
  justify-content: center;
  align-items: center;

  @include respond-to(phone) {

  }
}

.footer__banner-quote {
  background-color: #51504C;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include respond-to(phone) {
    padding: 50px 25px;
  }
}

.footer__banner-quote-text {
  color: rgba(255,255,255,.7);
  font-weight: 400;
  font-size: 30px;
  font-family: 'FreightTextProMedium-Regular';
  letter-spacing: 1px;

  @include respond-to(phone) {
    text-align: center;
  }

  span {
    font-family: 'FreightTextProMedium-Italic';
    letter-spacing: 0;
  }
}

.footer__vertical-blocks {
  display: flex;
  width: 100%;
  padding: 100px 20px;

  @include respond-to(phone) {
    flex-direction: column;
    padding: 70px 25px;
  }
}

.footer__block {
  width: 33.33%;
  padding: 0 60px;

  @include respond-to(phone) {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  &:first-child {
    padding-right: 40px;

    @include respond-to(phone) {
      order: 2;
      padding-right: 0;
      margin-bottom: 50px;
    }
  }

  &:nth-child(2) {
    padding-left: 20px;

    @include respond-to(phone) {
      order: 1;
      padding-left: 0;
      margin-bottom: 50px;
    }
  }

  &:last-child {
    border-left: 1px solid rgba(255,255,255,.2);

    @include respond-to(phone) {
      order: 3;
      border-left: none;
    }
  }
}

.footer__text {
  color: white;
  line-height: 2.2;
  margin-top: 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 12.5px;
  letter-spacing: 2px;
  font-weight: 100;

  @include respond-to(phone) {
    margin-top: 20px;
  }
}

.footer__logo {
  width: 300px;
  height: auto;
  margin-bottom: 30px;

  @include respond-to(phone) {
    margin-bottom: 20px;
  }
}

.footer__image {
  width: 100%;
  height: 427px;
  position: relative;
  overflow: hidden;

  .centered-crop-image {
    min-height: 100%;
    min-width: 1px;
  }
}

.footer__text-reco {
  color: rgba(255,255,255,.5);
  font-weight: 400;
  font-family: 'FreightTextProMedium-Italic';
  font-size: 22px;
  margin-bottom: 30px;

  &.footer__text-reco--margin-top {
    margin-top: 30px;
  }
}

.footer__reco-container {
  display: flex;
}

.footer__reco {
  height: 100px;
  width: auto;
  margin-right: 30px;

  @include respond-to(phone) {
    height: 80px;
  }
}

.footer__button {
  text-transform: uppercase;
  padding: 15px 20px;
  color: white;
  letter-spacing: 2px;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  border: 3px solid white;
  margin-top: 90px;

  @include respond-to(phone) {
    margin-top: 35px;
  }

  &:hover {
    cursor: pointer;
  }
}

.footer__horizontal-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 140px);
  padding: 30px 0;
  margin: 0 70px;
  border-top: 1px solid rgba(255,255,255,.2);

  @include respond-to(phone) {
    flex-direction: column;
    width: calc(100% - 50px);
  }

  .footer__legal-mentions {
    @include respond-to(phone) {
      order: 3;
    }
  }
  .footer__social-icons {
    @include respond-to(phone) {
      order: 1;
      margin-bottom: 30px;
    }
  }
  .footer__address {
    @include respond-to(phone) {
      order: 2;
      margin-bottom: 30px;
      text-align: center;
    }
  }
}

.footer__legal-mentions,
.footer__address,
.footer__social-icons {
  flex: 1 1 0;

  @include respond-to(phone) {
    flex: none;
  }
}

.footer__legal-mentions {
  &:hover {
    color: rgba(255,255,255,.5)
  }
}

.footer__legal-mentions,
.footer__address {
  color: rgba(255,255,255,.5);
  line-height: 2;
  font-family: 'Nunito', sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 400;
}

.footer__address {
  text-align: right;
}

.footer__social-icons {
  display: flex;
  justify-content: center;
}

.footer__social-icon {
  width: 45px;
  height: 45px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255,255,255,.2);
  border-radius: 50%;
  margin: 0 5px;
}

#signature {
  color: #a6a6a6;
  position: absolute;
  bottom: 0;
  right: 2px;
  font-family: 'Lato', sans-serif;
  font-size: 11px;

  a {
    color: #ff8900;
  }
}
// Widget
.weddingwireWidget {
  max-height: 585px;
  overflow: auto;
}
.weddingwireWidget__header {
  background: #ddc182;
}
.rating-stars-vendor.rating-stars-vendor-bar {
  filter: drop-shadow(0px 0px 2px #fff);
}
