footer {
  display: flex;
  flex-direction: column;
  background-color: #484743;
  width: 100%;
  justify-content: center;
  align-items: center;

  @include respond-to(phone) {

  }

  .centered-crop-image {
    height: 100%;
  }
}

.footer__vertical-blocks {
  display: flex;
  width: 100%;
  padding: 100px 20px;
}

.footer__block {
  width: 33.33%;
  padding: 0 60px;

  &:first-child {
    padding-right: 40px;
  }

  &:nth-child(2) {
    padding-left: 20px;
  }

  &:last-child {
    border-left: 1px solid rgba(255,255,255,.2);
  }
}

.footer__text {
  color: white;
  line-height: 2.2;
  margin-top: 30px;
  font-family: sans-serif;
  font-size: 12.5px;
  letter-spacing: 2px;
  font-weight: 100;
}

.footer__logo {
  width: 300px;
  height: auto;
  margin-bottom: 30px;
}

.footer__image {
  width: 100%;
  height: 427px;
  position: relative;
  overflow: hidden;
}

.footer__text-reco {
  color: rgba(255,255,255,.5);
  font-weight: 400;
  // letter-spacing: 1px;
  font-style: italic;
  font-size: 22px;
  margin-bottom: 30px;

  &.footer__text-reco--margin-top {
    margin-top: 30px;
  }
}

.footer__reco-container {
  display: flex;
}

.footer__reco {
  height: 100px;
  width: auto;
  margin-right: 30px;
}

.footer__button {
  text-transform: uppercase;
  padding: 15px 20px;
  color: white;
  letter-spacing: 2px;
  font-family: sans-serif;
  font-size: 14px;
  border: 3px solid white;
  margin-top: 90px;

  &:hover {
    cursor: pointer;
  }
}

.footer__horizontal-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 140px);
  padding: 30px 0;
  margin: 0 70px;
  border-top: 1px solid rgba(255,255,255,.2);
}

.footer__legal-mentions,
.footer__address,
.footer__social-icons {
  flex: 1 1 0;
}

.footer__legal-mentions,
.footer__address {
  color: rgba(255,255,255,.5);
  line-height: 2;
  font-family: sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 400;
}

.footer__address {
  text-align: right;
}

.footer__social-icons {
  display: flex;
  justify-content: center;
}

.footer__social-icon {
  width: 45px;
  height: 45px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255,255,255,.2);
  border-radius: 50%;
  margin: 0 5px;
}

#signature {
  color: #a6a6a6;
  position: absolute;
  bottom: 0;
  right: 2px;
  font-family: 'Lato', sans-serif;
  font-size: 11px;

  a {
    color: #ff8900;
  }
}

#bodasnet-widget-content ul {
  max-height: 355px;
  overflow: scroll;
}
