#gallery {
  margin-top: 115px;
}

.gallery__title {
  color: #404040;
  font-family: 'FreightTextProMedium-Italic';
  font-weight: 200;
  font-size: 45px;
  padding: 80px 0;
  text-align: center;
}

.gallery__navigation {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;

  .navigation__tab {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0 60px;
    color: #eed499;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 14px;

    &.navigation__tab--selected {
      border-bottom: 6px solid #eed499;
    }
  }
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible!important;
}

#swiper-container--domain {
  // display: none;
}

.swiper-wrapper {
  height: 600px!important;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  background-color: black;

  // margin-right: 5%!important;
  width: 80%!important;
}

.swiper-slide-next,
.swiper-slide-prev {
  opacity: 0.5;
}

.swiper-container {
  height: 90%;
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  top: 324px!important;
}

.swiper-button-next {
  background-image: url("../images/next.png")!important;
  right: calc(11.5% - 75px) !important;
}
 
.swiper-button-prev {
  background-image: url("../images/prev.png")!important;
  left: calc(11.5% - 75px) !important;
}

.swiper-pagination {
  position: static!important;
  width: calc(80% + 10px)!important;
  margin: 50px auto!important;
  display: flex!important;
  flex-wrap: wrap!important;
}
 
.swiper-pagination-bullet {
  height: 120px!important;
  background-image: url("../images/00_CDL_Footer_image.png")!important;
  background-size: cover!important;
  border-radius: 0!important;
  opacity: 1!important;
  // flex: 1;
  margin: 3px!important;
  width: calc(11.08% - 6px) !important;

  &.swiper-pagination-bullet-active {
    opacity: 0.4!important;
  }
}

.swiper-pagination--domain {
  .swiper-pagination-bullet {
    background-image: url("../images/domaine/domaine-1.jpg")!important;

    @for $i from 1 to 26 {
      &:nth-child(#{$i}) {
        background-image: url("../images/domaine/domaine-#{$i}-min.jpg")!important;
      }
    }  
  }
}
.swiper-pagination--ceremony {
  .swiper-pagination-bullet {
    background-image: url("../images/ceremonie/ceremonie-1.jpg")!important;

    @for $i from 1 to 8 {
      &:nth-child(#{$i}) {
        background-image: url("../images/ceremonie/ceremonie-#{$i}.jpg")!important;
      }
    }  
  }
}
.swiper-pagination--cocktail {
  .swiper-pagination-bullet {
    background-image: url("../images/cocktail/cocktail-1.jpg")!important;

    @for $i from 1 to 10 {
      &:nth-child(#{$i}) {
        background-image: url("../images/cocktail/cocktail-#{$i}.jpg")!important;
      }
    }  
  }
}