#homepage {
  position: relative;

  .js-scrollTo {
    margin-top: 70px;
  }
}

.homepage__background-intro {
  align-items: center;
  background: url("../images/bg-home-intro.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin:0;
  padding:0;
  position: relative;

  @include respond-to(phone) {
    background-position: right;
  }
}

.homepage__text-intro {
  bottom: 15%;
  color: white;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  position: absolute;
  right: 6%;
  font-family: 'FreightTextProMedium-Regular';

  span {
    font-family: 'FreightTextProMedium-Italic';
    letter-spacing: 0;
  }

  br.mobile {
    display: none;
  }

  @include respond-to(phone) {
    font-size: 42px;
    right: 5%;
    text-align: right;

    br.mobile {
      display: inline;
    }
  }
}

.homepage__arrow-intro {
  bottom: 5%;
  height: 45px;
  position: absolute;
  right: 6%;
  width: auto;
}

// Block 1
.homepage__block {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  @include respond-to(phone) {
    flex-direction: column;
    padding: 70px 25px;
  }
}

.homepage__block--1 {
  padding-bottom: 150px;

  @include respond-to(phone) {
    padding-bottom: 70px;
  }

  .homepage__block__title {
    @include respond-to(phone) {
      text-align: center;
    }
  }

  .homepage__block__text {

    &:first-child {
      margin-right: 70px;

      @include respond-to(phone) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}

.homepage__block--2 {
  background-color: #FDFAEA;
  flex-direction: row;

  @include respond-to(phone) {
    flex-direction: column-reverse;
  }

  .homepage__block__content {
    margin-right: calc(50% + 100px);

    @include respond-to(phone) {
      margin: 0;
    }
  }

  .homepage__block__text,
  .homepage__block__title {
    text-align: right;
  }
}

.homepage__block--3 {
  padding-bottom: 200px;

  @include respond-to(phone) {
    flex-direction: column;
    padding-bottom: 70px;
  }

  .homepage__block__content {
    margin-left: calc(50% + 100px);
    align-items: flex-start;

    @include respond-to(phone) {
      margin: 0;
    }
  }

  .homepage__block__text,
  .homepage__block__title {
    text-align: left;
  }

  .homepage__block__image {
    height: 570px;
    top: 100px;
    right: 50%;
    left: auto;

    @include respond-to(phone) {
      overflow: initial;
      height: auto;
      top: auto;
      right: auto;
    }
  }
}

.homepage__block__content {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;

  @include respond-to(phone) {
    width: 100%;
  }
}

.homepage__block__number {
  font-weight: bold;
  letter-spacing: 2px;
}

.homepage__block__dash {
  height: 30px;
  width: 1px;
  background-color: #eaeaea;
  margin: 15px 0;
}

.homepage__block__title {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 45px;
  font-family: 'FreightTextProMedium-Regular';

  span {
    font-family: 'FreightTextProMedium-Italic';
    letter-spacing: 0;
  }

  @include respond-to(phone) {
    font-size: 40px;
  }
}

.homepage__block__text-container {
  display: flex;
  margin: 50px 0 50px 0;

  @include respond-to(phone) {
    flex-direction: column;
    margin: 50px 0;

    br {
      display: none;
    }
  }
}

.homepage__block__text {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 16px;
}

.homepage__block__button {
  @extend .button-bordered;

  @include respond-to(phone) {
    font-size: 12px;
  }
}

.homepage__block__image {
  width: 50%;
  overflow: hidden;
  height: 594px;
  position: absolute;
  top: -50px;
  left: 50%;

  @include respond-to(phone) {
    width: auto;
    overflow: initial;
    height: auto;
    position: static;
    top: auto;
    left: auto;

    .centered-crop-image {
      position: static;
      left: auto;
      right: auto;
      top: auto;
      bottom: auto;
      margin: -70px -25px 50px -25px;
      height: auto;
      width: calc(100% + 50px);
    }
  }
}
